@use "../util/theme";

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(147deg, #EEEAFF 0%, #C3B4FF 100%) no-repeat fixed,
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$main-font;
}

a, p {
  font-family: theme.$text-font;

  & {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  /* xs */
  @media (min-width: 375px) {
    max-width: 375px;
  }

  /* sm */
  @media (min-width: 640px) {
    max-width: 640px;
  }

  /* md */
  @media (min-width: 768px) {
    max-width: 768px;
  }

  /* lg */
  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  /* xl */
  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  /* 2xl */
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

.section__title__wrapper {
  display: flex;
  justify-content: center;

  /* xs */
  @media (min-width: 475px) {
    margin-bottom: 20rem;
  }

  /* sm */
  /* @media (min-width: 640px) {} */

  /* md */
  /* @media (min-width: 768px) {} */

  /* lg */
  @media (min-width: 1024px) {

  }

  /* xl */
  @media (min-width: 1280px) {
    margin-bottom: 5rem;
  }

  /* 2xl */
  /* @media (min-width: 1536px) {} */
}

.section__title {
  font-size: 3rem;
  font-weight: 800;
}

@mixin flexCenter($direction, $gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexFlexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

