@use "../util/theme";

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include theme.white-gradient-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$main-font;
}

a, p {
  font-family: theme.$text-font;

  & {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@mixin flexCenter($direction, $gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  gap: $gap;
}

