@use "../util/util";

.hero {
  @include util.flexCenter(column, 5rem);

  margin-top: 10rem;
  height: 60vh;
  text-align: center;

  h2 {
    font-weight: 900;
    max-width: 30ch;

    span {
      @include util.red-gradient;
    }
  }

  a {
    padding: 2rem 3.5rem;
    background: black;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 4rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  // extra small
  @media (min-width: 375px) {
    transform: scale(0.9);
    font-size: 2rem;
  }

  // small
  @media (min-width: 640px) {
    font-size: 3rem;
  }

  // medium
  @media (min-width: 768px) {
    font-size: 4rem;
  }

  // large
  @media (min-width: 1024px) {
    font-size: 5rem;
    transform: scale(1.0);
  }
}